* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Comfortaa', cursive;
    background-color: whitesmoke;
    background-image: url("https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80");
}

h1, h2, h3, h4, h5 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
h1{
    font-size: 280%;
    text-align: center;
}
h2{
    font-size: 200%;
}
h3{
    font-size: 140%;
}