.images{
    width: 20%;
    height: 20vh;
    .image();
    margin: 2%;

    @media(max-width: 500px){
            width: 50%;
        
    }
}
.mission{
    border: 1px solid forestgreen;
    border-radius: 5%;
    background-color: rgba(245, 237, 237, 0.5);
    text-align: center;
    margin-left: 28%;
    padding: 3% 5% 3% 5%;
    letter-spacing: 200%;
    line-height: 200%;
}
h3{
    text-align: center;
    font-size: 170%;
}

p{
    width: 45%;
    margin-bottom: 2%;
}

.find{
    display: flex;

    p{
        margin-right: @margin;
        .paragraphmodel();
    }
    
    
}
.connect{
    display: flex;
    flex-direction: row-reverse;

    p{
        margin-left: @margin;
        .paragraphmodel();
    }
}
.advertise{
    display: flex;
    p{
        margin-right: @margin;
        .paragraphmodel();
    }
}
.reachout{
    display: flex;
    flex-direction: row-reverse;
    p{
        .paragraphmodel();
        margin-left: @margin;
    }
}
