.images{
    width: 20%;
    height: 20vh;
}
.find{
    display: flex;
}
.connect{
    display: flex;
    flex-direction: row-reverse;
}
.advertise{
    display: flex;
}
.reachout{
    display: flex;
    flex-direction: row-reverse;
}